@model string[]

<div>
    <h3 class="display-6">
        Index 2
    </h3>
    <div class="lead">
        @foreach(var name in @Model)
        {
            <p>@name</p>            
        }
    </div>
</div>